@font-face
{
	font-family: topchik2;
	src: url(10423.ttf);
	font-family: topchik2;
	src: url(10423.ttf);
}
.topbar-links
{
	height:30px;
}
#logo
{
	height:150px;
}

#introtext
{
font-family: topchik2;
	color:#cf4f00;
	font-size:20px;
}
#detailsIV
{
	font-family: topchik2;
	color:#cf4f00;
	font-size:20px;
}
#detailsHT
{
	font-family: topchik2;
	color:#cc0000;
	font-size:30px;
}
#h2introtext
{
	
	font-family:topchik2;
	font-size:20px;
    color:white;
}
#h3introtext
{
    
    font-family:topchik2;
    font-size:15px;
    color:white;
}
h2
{
	font-family:topchik2;
	font-size:25px;
}
span
{
	color:orange;
	font-size:40px;

}
{
	color:lime;
	font-size:50px;
}
h1
{
	font-family: topchik2;
	color:#cf4f00;
	font-size:50px;
}
body
{
background-image:url(https://i.pinimg.com/originals/b8/a3/cd/b8a3cd1fad69ee87b4a843ca7769f49a.gif);
	text-align:center;
	background-size: 100%;
}
header
{
	text-align:center;
}
  a
  {
  	text-decoration:none;
  	  	color:#f9f9f9;
  }
  a:hover
  {

  	text-decoration:none;
  	color:#cf4f00;
  }

#exalted
{
	height:30px;
}
#headhunter
{
	height:20px;
}
#card
{
	height:30px;
}
#propercy
{
	height:30px;
}



.topbar-links
{
  	font-family:topchik2;
  	color:#cf4f00;
    max-width: 700px;
    margin: auto;
    height: 60px;
    display: flex;
        justify-content: space-between;
    align-items:center;
  }

 details
 {
 	text-align:center;
 }


a.a-btn-3 {
        color: #FFFFFF;
        text-decoration: none;
        font-family: topchik2;        
}
a.a-btn-3{
    background-image:url(1back.jpg);
   
    padding-left:20px;
    padding-right:80px;
    height:38px;
    display:block;
        margin: 20px auto;
        text-align:center;
        width:70px;
    position:relative;
    
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-3-text{
    padding-top:5px;
    display:block;
        width:0px;
    font-size:15px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:	#FFFFFF;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-3-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-3-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-3-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-3:hover{
    padding-right:140px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
#one:hover .a-btn-3-text{
    color:#b03902;
}
#two:hover .a-btn-3-text{
    color:#db8504;
}
#three:hover .a-btn-3-text{
    color:#8200ad;
}
#for:hover .a-btn-3-text{
    color:#0ccef5;
}
.a-btn-3:hover .a-btn-3-slide-text{
    width:57px;
}
.a-btn-3:hover .a-btn-3-icon-right span{
    opacity:1;
}
.a-btn-3:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}


details
{
    padding:10px;
}

#sellcolumn
{
    justify-content:center;
    display:flex;
align-items:center;
color:white;
font-family:topchik2;
}
