@font-face
{
	font-family: topchik;
	src: url(1234.ttf);
	font-family: topchik2;
	src: url(123.otf);
}
#logo
{
	height:150px;
}

input
{
	width:25%;
	background-color:black;
	font-family:topchik2;
	border-color:#cc0000;
	color:#cc0000;
}
#introtext
{
font-family: topchik2;
	color:#cc0000;
	font-size:20px;
}
#detailsIV
{
	font-family: topchik2;
	color:#cc0000;
	font-size:20px;
}
#detailsHT
{
	font-family: topchik2;
	color:#cc0000;
	font-size:30px;
}
#h2introtext
{
	
	font-family:topchik2;
	font-size:20px;
	color:#cc0000;
}
h2
{
	font-family:topchik2;
	font-size:25px;
	color:#cc0000;
}
span
{
	color:orange;
	font-size:40px;

}
{
	color:lime;
	font-size:50px;
}
h1
{
	font-family: topchik2;
	color:#cc0000;
	font-size:50px;
}
body
{
background-color:black;
	text-align:center;
	background-size: 100%;
}
button
{
	background-color:black;
	color:lime;
	font-size:30px;
	border-radius:20px;
	border-size:1px;
	border-color:lime;
}
button:hover
{
		background-image:url(background.png);
	color:purple;
	font-size:30px;
	border-radius:20px;
	border-size:1px;
	border-color:red;
}

header {
  margin: 0;
  padding: 0;
  }
  a
  {
  	text-decoration:none;
  	  	color:#f9f9f9;
  }
  a:hover
  {
  	text-decoration:none;
  	color:#cc0000
  }
.nav-links
  {
  	font-family:topchik2;
  	color:#d60d0d;
    max-width: 550px;
    margin: 0 auto;
    height: 60px;
    display: flex;
        justify-content: space-between;
    align-items:center;
  }

  ul li {
    display: inline-block;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }

